<% provide(:title, 'About') %>
<div class="center hero-unit" style="text-align: center;">
	<div class="jumbotron">
	  	<h1 style="margin-top:0;">About <%= app_name %>!</h1>

	  	<div style="margin: 10px 80px; text-align: left;">
			<p>Enter in description of <%= app_name %> here.</p>
		</div>

        <p>
        	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg", role: :button %>
        </p>
	</div>
</div>
