<% @folders.each do |folder| %>
	<div class="row">
		<div class="col-xs-12">
			<%= link_to memories_path(folder: folder.id) do %>
				<h4>
					<%= folder.name %>
				</h4>
			<% end %>
		</div>
		<div class="col-xs-12">
			<b>by:</b> <%= folder.user.username %>
		</div>
	</div>	
<% end %>
